body{
    background-color: white;
}

.presentacion{
    background-color: blueviolet;
    box-shadow: 3px 3px 3px #000000;
    color: white;
    width: 30%;
    padding: 2rem;
    margin: 5rem auto;
}

.presentacion img{
    width: 100px;
    border-radius: 100%;
    border: 3px solid white;
}